<!doctype html>
<html>

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Test Bed</title>

  <!-- JS References -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
  <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
  <script src="js/bootstrap-slider.min.js"></script>
  <script src="js/tracking.js"></script>

  <!-- CSS References -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/bootstrap-slider.min.css">
  <link rel="stylesheet" href="css/alarm.css">
</head>

<body>

  <div class="page-header">
    <h1>The Sentient Alarm</h1>
  </div>


  <!-- Tab elements adopted from http://www.w3schools.com/howto/howto_js_tabs.asp -->

  <ul class="tab">
    <li><a href="javascript:void(0)" class="tablinks" onclick="openDay(event, 'Monday')" id="Mon">Monday</a></li>
    <li><a href="javascript:void(0)" class="tablinks" onclick="openDay(event, 'Tuesday')" id="Tue">Tuesday</a></li>
    <li><a href="javascript:void(0)" class="tablinks" onclick="openDay(event, 'Wednesday')" id="Wed">Wednesday</a></li>
    <li><a href="javascript:void(0)" class="tablinks" onclick="openDay(event, 'Thursday')" id="Thu">Thursday</a></li>
    <li><a href="javascript:void(0)" class="tablinks" onclick="openDay(event, 'Friday')" id="Fri">Friday</a></li>
    <li><a href="javascript:void(0)" class="tablinks" onclick="openDay(event, 'Saturday')" id="Sat">Saturday</a></li>
    <li><a href="javascript:void(0)" class="tablinks" onclick="openDay(event, 'Sunday')" id="Sun">Sunday</a></li>
  </ul>

<div class = "container col-lg-4 col-centered">
<form role="form" method="post">


  <div id="Monday" class="tabcontent">
    <div class="row">
      <div class="container col-md-8">
        <div class="form">
          <h2>Monday</h2>
          <h3>Hours</h3>
          </br>
          <input id="hourSlider_Mon" name="hourSlider_Mon" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="12" data-slider-step="1"
            data-slider-value= <%=alarms[0].hours%> />
          </br>
          <h3>Minutes</h3>
          </br>
          <input id="minuteSlider_Mon" name="minuteSlider_Mon" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="59" data-slider-step="1"
            data-slider-value= <%=alarms[0].minutes%> />
          </br>
          </br>
          <div class="switch6" id="AM-PM">
            <label class="switch6-light" onclick="">
                <input type="checkbox" name="AMPM_Mon" <% if(alarms[0].ampm == 1) { %> checked=true <% } %> >
                <span>
                  <span>AM</span>
                  <span>PM</span>
                </span>
                <a class="btn btn-primary"></a>
            </label>
          </div>
          </br>
          </br>
          <h3>Alarm On</h3>
          <div class="switch6" id="alarmON">
            <label class="switch6-light" onclick="">
                <input type="checkbox" name="alarmON_Mon" <% if(alarms[0].alarmON == 0) { %> checked=true <% } %> value="no">
                <span>
                  <span>Yes</span>
                  <span>No</span>
                </span>
                <a class="btn btn-primary"></a>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
  $("#hourSlider_Mon").slider({
    tooltip: 'always'
  });

  $("#minuteSlider_Mon").slider({
    tooltip: 'always'
  });
  </script>

  <div id="Tuesday" class="tabcontent">
    <div class="row">
      <div class="container col-md-8">
        <div class="form">
          <h2>Tuesday</h2>
          <h3>Hours</h3>
          </br>
          <input id="hourSlider_Tue" name="hourSlider_Tue" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="12" data-slider-step="1"
            data-slider-value= <%=alarms[1].hours%>  />
          </br>
          <h3>Minutes</h3>
          </br>
          <input id="minuteSlider_Tue" name="minuteSlider_Tue" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="59" data-slider-step="1"
            data-slider-value=<%=alarms[1].minutes%> />
          </br>
          </br>
          <div class="switch6" id="AM-PM">
            <label class="switch6-light" onclick="">
                <input type="checkbox" name="AMPM_Tue" <% if(alarms[1].ampm == 1) { %> checked=true <% } %>>
                <span>
                  <span>AM</span>
                  <span>PM</span>
                </span>
                <a class="btn btn-primary"></a>
            </label>
          </div>
          </br>
          </br>
          <h3>Alarm On</h3>
          <div class="switch6" id="alarmON">
            <label class="switch6-light" onclick="">
                <input type="checkbox" name="alarmON_Tue" <% if(alarms[1].alarmON == 0) { %> checked=true <% } %> value="no">
                <span>
                  <span>Yes</span>
                  <span>No</span>
                </span>
                <a class="btn btn-primary"></a>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
  $("#hourSlider_Tue").slider({
    tooltip: 'always'
  });

  $("#minuteSlider_Tue").slider({
    tooltip: 'always'
  });
  </script>

  <div id="Wednesday" class="tabcontent">
    <div class="row">
      <div class="container col-md-8">
        <div class="form">
          <h2>Wednesday</h2>
          <h3>Hours</h3>
          </br>
          <input id="hourSlider_Wed" name="hourSlider_Wed" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="12" data-slider-step="1"
            data-slider-value= <%=alarms[2].hours%>  />
          </br>
          <h3>Minutes</h3>
          </br>
          <input id="minuteSlider_Wed" name="minuteSlider_Wed" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="59" data-slider-step="1"
            data-slider-value=<%=alarms[2].minutes%> />
          </br>
          </br>
          <div class="switch6" id="AM-PM">
            <label class="switch6-light" onclick="">
                <input type="checkbox" name="AMPM_Wed" <% if(alarms[2].ampm == 1) { %> checked=true <% } %>>
                <span>
                  <span>AM</span>
                  <span>PM</span>
                </span>
                <a class="btn btn-primary"></a>
            </label>
          </div>
          </br>
          </br>
          <h3>Alarm On</h3>
          <div class="switch6" id="alarmON">
            <label class="switch6-light" onclick="">
                <input type="checkbox" name="alarmON_Wed" <% if(alarms[2].alarmON == 0) { %> checked=true <% } %>value="no">
                <span>
                  <span>Yes</span>
                  <span>No</span>
                </span>
                <a class="btn btn-primary"></a>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
  $("#hourSlider_Wed").slider({
    tooltip: 'always'
  });

  $("#minuteSlider_Wed").slider({
    tooltip: 'always'
  });
  </script>

  <div id="Thursday" class="tabcontent">
    <div class="row">
      <div class="container col-md-8">
        <div class="form">
          <h2>Thursday</h2>
          <h3>Hours</h3>
          </br>
          <input id="hourSlider_Thur" name="hourSlider_Thur" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="12" data-slider-step="1"
            data-slider-value= <%=alarms[3].hours%> />
          </br>
          <h3>Minutes</h3>
          </br>
          <input id="minuteSlider_Thur" name="minuteSlider_Thur" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="59" data-slider-step="1"
            data-slider-value=<%=alarms[3].minutes%> />
          </br>
          </br>
          <div class="switch6" id="AM-PM">
            <label class="switch6-light" onclick="">
                <input type="checkbox" name="AMPM_Thur" <% if(alarms[3].ampm == 1) { %> checked=true <% } %>>
                <span>
                  <span>AM</span>
                  <span>PM</span>
                </span>
                <a class="btn btn-primary"></a>
            </label>
          </div>
          </br>
          </br>
          <h3>Alarm On</h3>
          <div class="switch6" id="alarmON">
            <label class="switch6-light" onclick="">
                <input type="checkbox" name="alarmON_Thur" <% if(alarms[3].alarmON == 0) { %> checked=true <% } %> value="no">
                <span>
                  <span>Yes</span>
                  <span>No</span>
                </span>
                <a class="btn btn-primary"></a>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
  $("#hourSlider_Thur").slider({
    tooltip: 'always'
  });

  $("#minuteSlider_Thur").slider({
    tooltip: 'always'
  });
  </script>

  <div id="Friday" class="tabcontent">
    <div class="row">
      <div class="container col-md-8">
        <div class="form">
          <h2>Friday</h2>
          <h3>Hours</h3>
          </br>
          <input id="hourSlider_Fri" name="hourSlider_Fri" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="12" data-slider-step="1"
            data-slider-value= <%=alarms[4].hours%> />
          </br>
          <h3>Minutes</h3>
          </br>
          <input id="minuteSlider_Fri" name="minuteSlider_Fri" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="59" data-slider-step="1"
            data-slider-value=<%=alarms[4].minutes%> />
          </br>
          </br>
          <div class="switch6" id="AM-PM">
            <label class="switch6-light" onclick="">
                <input type="checkbox" name="AMPM_Fri" <% if(alarms[4].ampm == 1) { %> checked=true <% } %>>
                <span>
                  <span>AM</span>
                  <span>PM</span>
                </span>
                <a class="btn btn-primary"></a>
            </label>
          </div>
          </br>
          </br>
          <h3>Alarm On</h3>
          <div class="switch6" id="alarmON">
            <label class="switch6-light" onclick="">
                <input type="checkbox" name="alarmON_Fri" <% if(alarms[4].alarmON == 0) { %> checked=true <% } %> value="no">
                <span>
                  <span>Yes</span>
                  <span>No</span>
                </span>
                <a class="btn btn-primary"></a>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
  $("#hourSlider_Fri").slider({
    tooltip: 'always'
  });

  $("#minuteSlider_Fri").slider({
    tooltip: 'always'
  });
  </script>

  <div id="Saturday" class="tabcontent">
    <div class="row">
      <div class="container col-md-8">
        <div class="form">
          <h2>Saturday</h2>
          <h3>Hours</h3>
          </br>
          <input id="hourSlider_Sat" name="hourSlider_Sat" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="12" data-slider-step="1"
            data-slider-value= <%=alarms[5].hours%> />
          </br>
          <h3>Minutes</h3>
          </br>
          <input id="minuteSlider_Sat" name="minuteSlider_Sat" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="59" data-slider-step="1"
            data-slider-value=<%=alarms[5].minutes%> />
          </br>
          </br>
          <div class="switch6" id="AM-PM">
            <label class="switch6-light" onclick="">
                <input type="checkbox" name="AMPM_Sat" <% if(alarms[5].ampm == 1) { %> checked=true <% } %>>
                <span>
                  <span>AM</span>
                  <span>PM</span>
                </span>
                <a class="btn btn-primary"></a>
            </label>
          </div>
          </br>
          </br>
          <h3>Alarm On</h3>
          <div class="switch6" id="alarmON">
            <label class="switch6-light" onclick="">
                <input type="checkbox" name="alarmON_Sat" <% if(alarms[5].alarmON == 0) { %> checked=true <% } %>value="no">
                <span>
                  <span>Yes</span>
                  <span>No</span>
                </span>
                <a class="btn btn-primary"></a>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
  $("#hourSlider_Sat").slider({
    tooltip: 'always'
  });

  $("#minuteSlider_Sat").slider({
    tooltip: 'always'
  });
  </script>

  <div id="Sunday" class="tabcontent">
    <div class="row">
      <div class="container col-md-8">
        <div class="form">
          <h2>Sunday</h2>
          <h3>Hours</h3>
          </br>
          <input id="hourSlider_Sun" name="hourSlider_Sun" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="12" data-slider-step="1"
            data-slider-value= <%=alarms[6].hours%> />
          </br>
          <h3>Minutes</h3>
          </br>
          <input id="minuteSlider_Sun" name="minuteSlider_Sun" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="59" data-slider-step="1"
            data-slider-value=<%=alarms[6].minutes%> />
          </br>
          </br>
          <div class="switch6" id="AM-PM">
            <label class="switch6-light" onclick="">
                <input type="checkbox" name="AMPM_Sun" <% if(alarms[6].ampm == 1) { %> checked=true <% } %>>
                <span>
                  <span>AM</span>
                  <span>PM</span>
                </span>
                <a class="btn btn-primary"></a>
            </label>
          </div>
          </br>
          </br>
          <h3>Alarm On</h3>
          <div class="switch6" id="alarmON">
            <label class="switch6-light" onclick="">
                <input type="checkbox" name="alarmON_Sun" <% if(alarms[6].alarmON == 0) { %> checked=true <% } %> value="no">
                <span>
                  <span>Yes</span>
                  <span>No</span>
                </span>
                <a class="btn btn-primary"></a>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
  $("#hourSlider_Sun").slider({
    tooltip: 'always'
  });

  $("#minuteSlider_Sun").slider({
    tooltip: 'always'
  });
  </script>

<div class="row">
  <input type="submit" value="Set Alarms" class="btn btn-primary btn-lg btn-block" id="SetAlarmsSubmit">
</div>

</form>
</div>

  <script>
    function openDay(evt, dayName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(dayName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    // Open the element that is today's date.
    var today = new Date().toString();
    today = today.split(" ")[0]; //Gets the current day.
    document.getElementById(today).click();

    </script>










  <!-- User tracking camera feed and logic -->

  <!-- REMOVE MEEEEEEE

  <div class="demo">
    <video id="myVideo" width="600" height="450" preload autoplay loop muted></video>
    <canvas id="canvas" width="600" height="450"></canvas>
  </div>

  <script>
  var canvas = document.getElementById('canvas');
  var context = canvas.getContext('2d');
  var audio = new Audio('media/Awake.mp3');

  tracking.ColorTracker.registerColor('skin', function(r,g,b) {
    var threshold = 10,
     dr = r - 204,
     dg = g - 148,
     db = b - 148;

     if( dr >= threshold && dg >= threshold && db >= threshold) {
       return true;
     }
     return false;
  });

  var colors = new tracking.ColorTracker(['skin']);

  colors.on('track', function(event) {
    if (event.data.length === 0) {
      // No skin tone was detected in this frame.
    } 
    else {
      event.data.forEach(function(rect) {
        if(rect.x > 200 && rect.x < 500 && rect.y > 190 && rect.y < 410) {
          audio.play();
        }
        else {
          audio.pause();
        }

//        console.log(rect.x, rect.y, rect.height, rect.width, rect.color);

//          context.strokeStyle = "#000";
//          context.strokeRect(rect.x, rect.y, rect.width, rect.height);
//          context.font = '11px Helvetica';
//          context.fillStyle = "#fff";
//          context.fillText('x: ' + rect.x + 'px', rect.x + rect.width + 5, rect.y + 11);
//          context.fillText('y: ' + rect.y + 'px', rect.x + rect.width + 5, rect.y + 22);

      });
    }
  });

  tracking.track('#myVideo', colors, {camera: true});
  </script>

REMOVE MEEEEE -->

</body>

</html>